@model List<Manager>
@{
    ViewData["Title"] = "Менеджеры";
}


<h1>Менеджеры</h1>

<table border="1" cellspacing="10">
    <tr><th>Имя</th><th>Пароль</th><th>Почта</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Password</td>
            <td>@item.Email</td>
            <td>
                <form method="post" asp-controller="Home" asp-action="ADdropM">
                    <p><button type="submit">Удалить менеджера</button></p>
                    <input type="hidden" name="mID" value="@item.Id"/>
                </form>
            </td>
        </tr>
       
    }
</table>
<form method="post" asp-controller="Home" asp-action="ADaddM">
    <p><button type="submit">Добавить менеджера</button></p>
</form>
<form method="post" asp-controller="Home" asp-action="HomeAdmin">
    <p><button type="submit">Назад</button></p>
</form>