@model List<Manager>
@{
    ViewData["Title"] = "Менеджеры";
}


<h1>Менеджеры</h1>

<div class="position-absolute top-50 start-50 translate-middle mw-100 w-25" style="background-color:white; border: 3px solid black">
    <table cellspacing="10">
        <tr><th>Имя</th><th>Пароль</th><th>Почта</th></tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Password</td>
                <td>@item.Email</td>
                <td>
                    <form method="post" asp-controller="Home" asp-action="ADdropM">
                        <p><button type="submit" class="btn btn-primary btn-lg">Удалить менеджера</button></p>
                        <input type="hidden" name="mID" value="@item.Id" />
                    </form>
                </td>
            </tr>

        }
    </table>
    <form method="post" asp-controller="Home" asp-action="ADaddM">
        <p><button type="submit" class="btn btn-primary btn-lg">Добавить менеджера</button></p>
    </form>
    <form method="post" asp-controller="Home" asp-action="HomeAdmin">
        <p><button type="submit" class="btn btn-primary btn-lg">Назад</button></p>
    </form>
</div>