@{
    ViewData["Title"] = "registration";
}

<div>
    <form method="post" asp-controller="Home" asp-action="registration1"><p><button type="submit">Зарегестрироваться как работодатель</button></p></form>
    <form method="post" asp-controller="Home" asp-action="registration2"><p><button type="submit">Зарегестрироваться как соискатель</button></p></form>   
</div>
<div><a href="Index.cshtml">Home</a></div>