@model agency.Models.Employee
@{
    ViewData["Title"] = "Home Page";
}

Время пользования - @Model.accessTime ч.
ID - @Model.Id
<p>Услуги не оплачены, функционал недоступен</p>
<div>
    <form method="post" asp-controller="Home" asp-action="pay">
        <p><button type="submit">Оплатить услуги</button></p>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
    </form>
<form method="post" asp-controller="Home" asp-action="Index">
    <p><button type="submit">Назад</button></p>
</form>
