@model agency.Models.Manager
@{
    ViewData["Title"] = "Home Page";
}

<div class="position-absolute top-0 end-0 w-25" style="background-color:lightblue; border: 3px solid black">
    <table>
        <tr><th>Имя пользователя</th></tr>
        <tr><td>@Model.Name</td></tr>
    </table>
</div>
<div class="position-absolute top-50 start-50 translate-middle h-25 w-25" style="background-color:white; border: 3px solid black">

    <form method="post" asp-controller="Home" asp-action="MEmployer">
        <p><button type="submit" class=" btn btn-primary btn-lg">Посмотреть работодателей</button></p>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
    </form>
    <form method="post" asp-controller="Home" asp-action="MEmployee">
        <p><button type="submit" class=" btn btn-primary btn-lg">Посмотреть соискателей</button></p>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
    </form>
    <form method="post" asp-controller="Home" asp-action="Mvac">
        <p><button type="submit" class="btn btn-primary btn-lg">Посмотреть вакансии</button></p>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
    </form>
    <form class="position-relative bottom-0 start-0" method="post" asp-controller="Home" asp-action="Index">
        <p><button type="submit" class="btn btn-primary btn-lg">Назад</button></p>
    </form>
</div>