@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form method="post" asp-controller="Home" asp-action="chooser"><p><button type="submit">Зарегестрироваться</button></p></form>
    
    <form method="post" asp-controller="Home" asp-action="autorization"><p><button type="submit">Войти</button></p></form>
</div>